@import "../_base-style/variables";
@import "../_base-style/media-queries";

$this: '.case-cart';

#{$this} {
  padding-top: 95px;
  padding-bottom: 60px;

  @include table-lg-screen {
    padding-top: 50px;
  }
  @include mobile-big-screen {
    padding-bottom: 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 36px 36px;

    @include table-large-screen {
      grid-gap: 30px 30px;
    }

    @include mobile-big-screen {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 36px 36px;

    @include table-large-screen {
      grid-gap: 30px 30px;
    }
  }

  &__preview {
    position: relative;
    border-radius: 24px;
    min-height: 304px;
    max-width: 614px;
    background-color: $colorBlack;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 40px;
    color: $colorWhite;
    border: 4px solid transparent;
    box-shadow: 0 0 0 0 rgba(2, 4, 23, 0.24);
    @include trn(.2s);

    @include table-lg-screen {
      min-height: 280px;
      background-size: zoom(460px);
    }

    @include table-large-screen {
      background-size: 35.15625vw;
      min-height: 260px;
    }

    @include table-sm-screen {
      min-height: 240px;
      padding: 30px 20px;
      border: 2px solid transparent;
    }

    @include table-small-screen {
      min-height: 220px;
    }

    @include mobile-big-screen {
      min-height: 240px;
    }

    * {
      color: $colorWhite;
    }

    &--big {
      @include mobile-big-screen {
        min-height: 400px;
        background-size: 270px;
      }
      @include mobile-small-screen {
        background-size: 240px;
      }
    }

    &--purple {
      background: $purple;
    }
    &--orange {
      background: $orange;
    }
    &--cblack * {
      color: $colorBlack;
    }

    &:hover {
      border: 4px solid $pink;
      box-shadow: 2px 4px 12px 0px rgba(2, 4, 23, 0.24);

      @include table-sm-screen {
        border: 2px solid $pink;
      }

      .icon-rotate {
        background: $orange;
        box-shadow: 0 0 0 calc(4px*var(--zoom)) #fcac10;
      }
    }

    .icon-rotate {
      position: absolute;
      right: -12px;
      top: -13px;
      width: 84px;
      height: 84px;

      @include table-lg-screen {
        width: 72px;
        height: 72px;
      }
      @include table-sm-screen {
        width: 54px;
        height: 54px;
      }

      svg {
        @include table-sm-screen {
          width: 26px;
        }
      }
    }
  }

  &__title {
    font-size: 56px;
    line-height: 84%;
    letter-spacing: 0.56px;

    @include table-lg-screen {
      font-size: 48px;
    }
    @include table-large-screen {
      font-size: 36px;
    }
    @include table-small-screen {
      font-size: 34px;
    }
  }
  &__sub-title {
    font-size: 32px;
    line-height: 94%;
    letter-spacing: 0.32px;
    margin-bottom: 24px;

    @include table-lg-screen {
      font-size: 26px;
    }
    @include table-large-screen {
      font-size: 22px;
    }
    @include table-small-screen {
      margin-bottom: 18px;
    }
  }

}
