@import "../../blocks/_base-style/variables";
@import "../../blocks/_base-style/media-queries";

$this: '.about';

#{$this} {
  padding-top: 42px;
  padding-bottom: 50px;

  @include table-large-screen {
    padding-top: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include table-large-screen {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 30px 30px;
    }

    @include table-sm-screen {
      display: flex;
      flex-direction: column-reverse;
      grid-gap: 20px 20px;
    }

    .image-border {
      margin-top: 14px;
    }
  }
  &__image {}
  &__content {
    max-width: 660px;
    padding-left: 30px;

    @include table-lg-screen {
      max-width: 560px;
    }
    @include table-large-screen {
      padding-left: 0;
      max-width: 100%;
    }

    .h2-style {
      @include table-large-screen {
        //font-size: 36px;
      }
    }
  }
  &__content-text {
    margin-top: zoom(50px);

    @include table-large-screen {
      margin-top: 20px;
    }

    p,
    strong {
      line-height: 36px;
      //letter-spacing: 1px;
    }

    p {
      font-size: 20px;
      line-height: 150%;

      @include table-large-screen {
        font-size: 18px;
      }

      &:not(:first-child) {
        margin-top: 21px;
      }
    }

    strong {
      font-size: 25px;
      font-family: $br;
      font-weight: normal;
      line-height: normal;
      letter-spacing: 0;

      @include table-large-screen {
        font-size: 18px;
      }
    }

  }
}
