@import "../../blocks/_base-style/variables";
@import "../../blocks/_base-style/media-queries";

.video-popup-block {
  position: relative;
  max-width: 1280px;
  width: calc(100% - 40px);
  margin: 0 auto;

  .mfp-close {
    color: $colorWhite;
  }
}
.mfp-container {
  padding: 0;
}
.mfp-bg {
  background-color: transparent;
}

$this: '.video-preview';

#{$this} {
  padding-top: 72px;
  padding-bottom: 50px;
  overflow: hidden;

  @include table-lg-screen {
    padding-top: 50px;
  }

  @include table-sm-screen {
    padding: 30px 0;
  }


  &__marquee {
    min-height: zoom(81px);

    @include table-small-screen {
      min-height: 58px;
    }

    &-item {
      font-size: zoom(32px);
      line-height: zoom(36px);
      letter-spacing: .4px;
      white-space: nowrap;
      padding: zoom(17px) 0 zoom(20px);
      border-top: 1px solid $colorBlack;
      border-bottom: 1px solid $colorBlack;

      @include table-small-screen {
        padding: 10px 0 12px;
        font-size: 24px;
      }

      span {
        margin-right: zoom(10px);

        &:last-child {
          margin-right: zoom(20px);
        }
      }
    }

    .icon-marquee {
      position: relative;
      top: zoom(4px);
      width: zoom(31px);
      height: auto;
      margin-right: zoom(10px);

      @include table-small-screen {
        width: 24px;
      }
    }
  }

  &__main {
    max-width: 100%;
    margin: 0 auto;
    display: block;

    @include table-sm-screen {
      max-width: calc(100% - 40px);
    }
    @include mobile-big-screen {
      max-width: 100%;
    }
  }

  &__main-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 100;
    background: $colorBlack;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%) scale(.8);
    transition: all .25s ease-out;

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(-50%) scale(1);
    }
  }

  &__main-close {
    position: absolute;
    right: 14px;
    top: 14px;
    z-index: 100;

    @include table-sm-screen {
      top: 10px;
      right: 10px;
    }

    svg {
      @include table-sm-screen {
        width: 34px;
        height: auto;
      }
    }
  }

  &__present {
    position: relative;
    margin: zoom(60px) 0;

    @include table-sm-screen {
      margin: 30px 0;
    }
  }

  &__present-image {
    width: 100%;
    position: relative;
    border-radius: zoom(28px);
    overflow: hidden;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__button-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }

  &__button {
    position: relative;
    display: inline-flex;
    background: url(/img/video/video-button.png);
    min-width: zoom(336px);
    min-height: zoom(100px);
    border-radius: zoom(300px);
    border: 2px solid $colorWhite;
    margin-right: zoom(30px);
    margin-top: zoom(4px);

    @include table-lg-screen {
      margin-top: 10px;
    }

    @include table-sm-screen {
      margin-top: 10px;
      min-width: 250px;
      min-height: 70px;
    }

    @include table-small-screen {
      margin-top: 6px;
      min-height: 60px;
      min-width: 220px;
    }

    @include mobile-big-screen {
      margin-top: 8px;
      min-height: 50px;
      min-width: 190px;
      margin-right: 18px;
      border: 1px solid #fff;
    }

    @include mobile-small-screen {
      min-height: 38px;
      min-width: 130px;
    }

    @include universalScreen(375) {
      zoom: .9;
    }

    span {
      position: absolute;
      left: zoom(9px);
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: zoom(76px);
      height: zoom(76px);
      border-radius: 50%;
      background: #FFFFFF;
      border: 1px solid #05020c;
      box-shadow: 0 0 0 zoom(4px) #fff;
      @include trn(.3s);

      @include table-sm-screen {
        width: 50px;
        height: 50px;
      }

      @include table-small-screen {
        height: 42px;
        width: 42px;
        left: 7px;
      }

      @include mobile-big-screen {
        height: 34px;
        width: 34px;
      }

      @include mobile-small-screen {
        height: 26px;
        width: 26px;
        left: 6px;
      }

      svg {
        @include table-sm-screen {
          max-width: 40px;
        }
        @include table-small-screen {
          max-width: 30px;
        }
        @include mobile-big-screen {
          width: 24px;
        }
        @include mobile-small-screen {
          width: 18px;
        }
      }
    }

    &:active {
      span {
        box-shadow: 0 0 0 zoom(4px) $orange;
      }
    }

    &:hover {
      span {
        background: $orange;
        transform: translate(zoom(236px), -50%);

        @include table-sm-screen {
          transform: translate(180px, -50%);
        }
        @include table-small-screen {
          transform: translate(159px,-50%);
        }
        @include mobile-big-screen {
          transform: translate(138px,-50%);
        }
        @include mobile-small-screen {
          transform: translate(90px,-50%);
        }
      }
    }

  }

}
