@import "../_base-style/variables";
@import "../_base-style/media-queries";

$this: '.contact';

#{$this} {
  padding-top: 54px;
  padding-bottom: 128px;

  @include table-big-screen {
    padding-top: 30px;
    padding-bottom: 90px;
  }

  @include mobile-big-screen {
    padding-bottom: 60px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include table-large-screen {
      display: grid;
      grid-template-columns: 400px 1fr;
      grid-gap: 30px 30px;
    }
    @include table-sm-screen {
      display: block;
    }
  }

  &__heading {
    margin-bottom: 20px;
  }

  &__content {
    max-width: 450px;

    @include table-sm-screen {
      max-width: 100%;
    }

    .heading {
      margin-bottom: 20px;
    }

    ul,
    p,
    a {
      font-size: 20px;
      line-height: 150%;
      color: $colorBlack;
      letter-spacing: 0.2px;

      @include table-big-screen {
        font-size: 18px;
      }

      br {
        @include table-large-screen {
          display: none;
        }
      }
    }

    ul {
      li {

        &:before {
          display: inline-block;
          content: '';
          width: 10px;
          height: 10px;
          background: $colorBlack;
          border-radius: 50%;
          margin-right: 6px;
        }
      }
    }
  }

  &__main {
    margin-top: 13px;

    @include table-sm-screen {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
      grid-gap: 10px 30px;
    }

    &-item {
      margin-bottom: 23px;

      @include table-big-screen {
        margin-bottom: 20px;
      }
    }

    h5 {
      font-size: 36px;
      line-height: 133.3%;
      letter-spacing: 1.44px;
      margin-bottom: 13px;

      @include table-big-screen {
        font-size: 28px;
        margin-bottom: 8px;
      }
    }
  }

  &__call {
    max-width: 738px;
    width: 100%;
    border-radius: 28px;
    background: $colorBlack;
    padding: 58px 48px;
    margin-top: 14px;

    @include table-big-screen {
      max-width: 640px;
      padding: 58px 30px;
    }

    @include table-large-screen {
      padding: 45px 30px;
    }

    @include table-sm-screen {
      margin-top: 50px;
    }
    @include mobile-big-screen {
      padding: 35px 20px;
    }

    * {
      color: $colorWhite;
    }

    &-heading {
      text-align: center;
      margin-bottom: 20px;

      h4 {
        margin-bottom: 18px;

        @include table-large-screen {
          font-size: 30px;
        }
        @include mobile-big-screen {
          font-size: 26px;
          margin-bottom: 14px;
        }
      }

      p {
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.2px;

        @include table-large-screen {
          font-size: 18px;
        }
        @include mobile-big-screen {
          font-size: 16px;
        }

        br {
          @include table-sm-screen {
            display: none;
          }
        }
      }
    }

  }

  &__form {

    &-item {
      margin-bottom: 16px;

      label {
        display: block;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.2px;
        color: #959595;
        padding-left: 24px;
        margin-bottom: 8px;

        @include table-large-screen {
          font-size: 18px;
          padding-left: 20px;
          margin-bottom: 6px;
        }
        @include mobile-big-screen {
          font-size: 16px;
          padding-left: 16px;
        }
      }

      input, textarea {
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.2px;
        padding: 11px 24px;
        border-radius: 24px;
        border: 1px solid $colorWhite;
        width: 100%;
        background: $colorBlack;
        outline: none;

        @include table-large-screen {
          font-size: 18px;
          padding: 10px 20px;
        }
        @include mobile-big-screen {
          border-radius: 14px;
          font-size: 16px;
          padding-left: 16px;
        }
        @include mobile-small-screen {
          line-height: 140%;
        }
      }

      textarea {
        min-height: 120px;

        @include table-large-screen {
          min-height: 110px;
        }
      }
    }

    &-button {
      margin-top: 38px;

      @include table-large-screen {
        margin-top: 20px;
      }

      .button {
        width: 100%;
      }
    }

    .checkbox-button {
      margin-top: 16px;
    }

  }

}
