@import "variables";
@import "media-queries";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --colorWhite: #ffffff;
  --colorBlack: #323232;
  --zoom: 1;

  @include table-big-screen {
    --zoom: .9;
  }
  @include mobile-big-screen {
    --zoom: .8;
  }
  @include mobile-small-screen {
    --zoom: .75;
  }
}

html {
  max-height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: $mr;
  font-size: 14px;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
  min-width: 320px;
  max-width: 100%;
  transition: all .3s ease-out;
  height: 100%;

  main {
    height: 100%;
  }

}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $br;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

h1, .h1-style {
  font-size: 68px;
  letter-spacing: .7px;
  line-height: 138%;
}

h2, .h2-style {
  font-size: zoom(56px);
  letter-spacing: 0.56px;
  line-height: 140%;

  @include table-large-screen {
    font-size: 38px;
  }

  .icon-heading {
    position: relative;

    @include table-large-screen {
      top: 4px;
      width: 30px;
    }
  }
}

h4, .h4-style {
  font-size: 36px;
  line-height: 133.333%;
  letter-spacing: 1.44px;

  @include table-large-screen {
    font-size: 28px;
  }

  .icon-heading {
    position: relative;
    width: 30px;
    top: 2px;

    @include table-large-screen {
      top: 4px;
      width: 24px;
    }
  }
}

p {
  line-height: 145%;
  color: $colorBlack;
}

.brodway-font {
  font-family: $br;
}

strong, .strong {
  font-family: $mrm;
  font-weight: normal;
}

.link-default {
  font-family: $mr;
  font-size: 15px;
  line-height: 21px;
  color: #c8bb93;
  transition: all .2s ease-out;
}

textarea {
  resize: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  line-height: 0px;
}

.html-overflow {
  overflow: hidden;
}

// Icons

.navigation-arrow,
.icon-arrow-rotate {
  fill: $colorBlack;
}

// Icon rotate

.icon-rotate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: zoom(60px);
  height: zoom(60px);
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid $colorBlack;
  box-shadow: 0 0 0 zoom(4px) #fff;
  @include trn(.15s);

  svg {
    width: zoom(39px);
    height: zoom(39px);
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color:gray;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color:gray;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color:gray;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {color:transparent;}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {color:transparent;}
input:-moz-placeholder,
textarea:-moz-placeholder {color:transparent;}


$inputWrapper: ".input-wrapper";
#{$inputWrapper} {
  position: relative;

  &--error {

    input {
      border: 1px solid $pink;
    }

    #{$inputWrapper}__error {
      opacity: 1;
      visibility: visible;
    }

  }

  &--warning {

    input {
      border: 1px solid $orange;
    }

    #{$inputWrapper}__error {
      color: $orange;
      opacity: 1;
      visibility: visible;
    }

  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 24px;
    color: $pink;
    @include trn(.15s);
    opacity: 0;
    visibility: hidden;
  }
}

.breadcrumbs {
  padding: 33px 0 0;

  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li, a {
    display: inline-block;
    font-size: 16px;
    line-height: 150%;
    color: $colorBlack;
  }
  a {
    &:after {
      content: '/';
      margin: 0 8px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh + 100px);
  background: rgba(0, 0, 0, 0.15);
  @include trn(.15s);
  z-index: 100;
  opacity: 0;
  visibility: hidden;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}
