// Fonts

$mr: "Montserrat-Regular", sans-serif;
$gpl: "GothamPro-Light", sans-serif;
$gpm: "GothamPro-Medium", sans-serif;
$gpb: "GothamPro-Bold", sans-serif;

// Colors

$colorWhite: #ffffff;
$colorBlack: #05020C;


@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}


// Example: @include colSize("contact__col-6", 2);
@mixin colSize($i) {
  width: calc(100% / 12 * #{$i});
}

// ==============================
// Mixins Custom
// ==============================

@mixin trn($time) {
  transition: all $time ease-out;
}

@mixin brr($rad) {
  border-radius: $rad;
}

@mixin tt($Xposition, $Yposition) {
  transform: translate($Xposition, $Yposition);
}
