// Fonts

$mr: "Montserrat-Regular", sans-serif;
$mrm: "Montserrat-Medium", sans-serif;
$br: "Broadway", sans-serif;
$brn: "BroadwayNormal", sans-serif;

// Colors

$colorWhite: #ffffff;
$colorBlack: #05020C;
$orange: #FCAC10;
$lightOrange: #FFD78A;
$pink: #E5007E;


@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}


// Example: @include colSize("contact__col-6", 2);
@mixin colSize($i) {
  width: calc(100% / 12 * #{$i});
}

// ==============================
// Mixins Custom
// ==============================

@mixin trn($time) {
  transition: all $time ease-out;
}

@mixin brr($rad) {
  border-radius: $rad;
}

@mixin tt($Xposition, $Yposition) {
  transform: translate($Xposition, $Yposition);
}

@function zoom($size) {
  @return calc(#{$size} * var(--zoom));
}
