<div class="catalog">
    <div class="layout catalog__heading">
        <h2 class="h2-style">Каталог товаров</h2>
        <a href="#" class="button button--medium button--white">Собрать листовку</a>
    </div>
    <div class="catalog__wrapper layout">
        <div class="catalog__filter-wrapper">
            <a href="" class="catalog__filter">
                <img src="/img/icons/filter.svg" alt="filter icon">
                <span>Открыть фильтр</span>
            </a>
        </div>
        {% include "../filter/filter.html" %}
        {% if catalogError == 'true' %}
            {% include "../product-error/product-error.html" %}
        {% else %}
            {% include "../product/product.html" %}
        {% endif %}
    </div>
</div>
