{# Title #}
{% set title = 'CandyBrands' %}
{#{% set description = '' %}#}
{#{% set keywords = '' %}#}

{#Extends#}
{% extends "./src/template/base.njk" %}

{# Variables #}
{% set homePage = 'true' %}

{# Content BODY #}
{% block content %}

    <main>
        {% include "./src/blocks/candy-preview/candy-preview.html" %}
        {% include "./src/blocks/new-products/new-products.html" %}
        {% include "./src/blocks/new-generation/new-generation.html" %}
        {% include "./src/blocks/video-preview/video-preview.html" %}
        {% include "./src/blocks/about/about.html" %}
        {% include "./src/blocks/brands/brands.html" %}
    </main>

{% endblock %}
