@import "../../blocks/_base-style/variables";
@import "../../blocks/_base-style/media-queries";

$this: '.candy-preview';

#{$this} {
  padding-top: 58px;
  padding-bottom: 58px;

  @include universalScreen(1199) {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  @include universalScreen(854) {
    padding: 20px 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;

    @include universalScreen(854) {
      flex-direction: column;
    }
  }

  &__image-wrapper {
    padding-left: 108px;

    @include universalScreen(1199) {
      padding-left: 70px;
    }
    @include universalScreen(991) {
      padding-left: 0;
    }
    @include mobile-large-screen {
      width: 100%;
    }
  }

  &__image {
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    @include mobile-small-screen {
      width: 100%;
      height: auto;
      object-fit: inherit;
    }

  }

  &__content {
    position: absolute;
    max-width: 522px;
    min-height: 506px;
    padding: 32px;
    background: $colorBlack;
    border-radius: 24px;

    @include universalScreen(1199) {
      max-width: 440px;
      min-height: 440px;
    }

    @include universalScreen(854) {
      position: relative;
      margin-top: -80px;
    }

    @include mobile-large-screen {
      margin-top: -30px;
      padding: 20px;
      max-width: 100%;
      width: 100%;
      min-height: auto;
    }

    @include mobile-small-screen {
      margin-top: -62px;
      padding: 12px 22px 16px;
    }

    h1 {
      color: $colorWhite;
      font-size: 68px;
      letter-spacing: .7px;
      line-height: 138%;

      @include universalScreen(1199) {
        font-size: 52px;
      }
      @include mobile-large-screen {
        font-size: 40px;
      }
      @include mobile-small-screen {
        font-size: 25px;
        line-height: normal;
        letter-spacing: -0.5px;
      }

      span {
        color: $pink;
      }
    }

    p {
      font-size: 20px;
      letter-spacing: 0.2px;
      margin-top: 16px;
      color: $colorWhite;

      @include universalScreen(1199) {
        font-size: 16px;
      }
      @include mobile-small-screen {
        font-size: 9px;
        line-height: 150%;
        letter-spacing: 0.09px;
        margin-top: 4px;
        max-width: 265px;
      }
    }

    .button {
      width: 100%;
      margin-top: 44px;

      @include mobile-small-screen {
        display: flex;
        max-width: 160px;
        min-width: inherit;
        margin: 8px auto 0;
        min-height: 22px;
        font-size: 15px;
      }
    }

  }

}
