@import "../../_base-style/variables";
@import "../../_base-style/media-queries";

button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-family: $mr;
  font-style: normal;
  font-weight: normal;
}

.button {
  display: inline-flex;
  font-family: $mr;
  font-size: 16px;
  line-height: 150%;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  min-width: 140px;
  padding: 4px 16px;
  text-align: center;
  transition: all 0.2s ease-out;
  box-sizing: border-box;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  outline: none;

  &--default {
    background: #FFFFFF;
    color: $colorBlack;
    border-radius: 4px;

    &:hover {
      color: #fff;
      background: $colorBlack;
    }
  }

  &--medium {
    font-family: $mrm;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
    //border: 1px solid #323232;
    min-height: 54px;
    min-width: 305px;
    border-radius: 32px;

    @include mobile-large-screen {
      font-size: 18px;
      min-height: 46px;
      min-width: 290px;
    }
  }

  &--yellow {
    background: $orange;
    color: $colorBlack;

    &:hover {
      background: $lightOrange;
    }
  }

  &--white {
    border: 1px solid $colorBlack;

    &:hover {
      border: 1px solid $orange;
    }
  }

}
